<footer class="footer">
  <div class="container d-flex flex-column flex-md-row align-items-center
   justify-content-md-between gap-3 py-4 text-center text-md-start">
    <img class="order-md-last" src="assets/images/kuppo-logo.png" alt="Kuppo" width="92" height="32" />
    <div class="small">
      <p class="mb-1">
        © {{ year }} Kuppo | Creado con fines educativos
      </p>
      <p class="mb-0">Desarrollado por estudiantes de la Universidad El Bosque | Facultad de Ingenieria | Ingeniería de Sistemas
      </p>
    </div>
  </div>
</footer>
